 <!-- /.panel -->
 <br>
 <br>
 <br>
 <div class="container">
  <div class="jumbotron">
    <h1><%= Project.name %></h1> 
    <p><%= Project.description %></p> 
  </div>
  <head>

  <% include googlepicker %>
  <!-- 
        <title>Save to Drive Demo: Basic Page</title>
        <link rel="canonical" href="http://www.example.com">
        <script src="https://apis.google.com/js/platform.js" async defer></script>
      </head>
      <body>
        <div class="g-savetodrive"
             data-src="//example.com/path/to/myfile.pdf"
             data-filename="My Statement.pdf"
             data-sitename="My Company Name">
        </div>
      </body>
</div> -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-clock-o fa-fw"></i> Project Timeline
                        </div>
                        
                        <div class="panel-body">
                            <ul class="timeline">
                                <li>
                                    <div class="timeline-badge"><i class="fa fa-check"></i>
                                    </div>
                                    <div class="timeline-panel">
                                        <div class="timeline-heading">
                                            <h4 class="timeline-title">Project Requirements</h4>
                                            <p><small class="text-muted"><i class="fa fa-clock-o"></i> Start Date: <%= Project.startDate %></small>
                                            </p>
                                        </div>
                                        <div class="timeline-body">
                                            <% include ajaxRequest %>
                                        </div>
                                    </div>
                                </li>
                                <li class="timeline-inverted">
                                    <div class="timeline-badge warning"><i class="fa fa-bomb"></i>
                                    </div>
                                    <div class="timeline-panel">
                                        <div class="timeline-heading">
                                            <h4 class="timeline-title">Research Phase</h4>
                                        </div>

                                        <div class="timeline-body">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem dolorem quibusdam, tenetur commodi provident cumque magni voluptatem libero, quis rerum. Fugiat esse debitis optio, tempore. Animi officiis alias, officia repellendus.</p>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium maiores odit qui est tempora eos, nostrum provident explicabo dignissimos debitis vel! Adipisci eius voluptates, ad aut recusandae minus eaque facere.</p>
                                        </div>
                                          
                                          <% include localStorage %>
                                          <div id ="pickerLink">
                                            <button type="button">
                                            <img src="http://i64.tinypic.com/2uj2vwj.jpg" />
                                          </button>
                                          <div id="pickerResult"></div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="timeline-badge danger"><i class="fa fa-bomb"></i>
                                    </div>
                                    <div class="timeline-panel">
                                        <div class="timeline-heading">
                                            <h4 class="timeline-title">Ideation Phase</h4>
                                        </div>
                                        <div class="timeline-body">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus numquam facilis enim eaque, tenetur nam id qui vel velit similique nihil iure molestias aliquam, voluptatem totam quaerat, magni commodi quisquam.</p>
                                        </div>
                                          <% include localStorage %>
                                          <div id ="pickerLink">
                                            <button type="button">
                                            <img src="http://i64.tinypic.com/2uj2vwj.jpg" />
                                          </button>
                                        </div>
                                    </div>
                                </li>
                                <li class="timeline-inverted">
                                    <div class="timeline-panel">
                                        <div class="timeline-heading">
                                            <h4 class="timeline-title">Prototyping Phase</h4>
                                        </div>
                                        <div class="timeline-body">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates est quaerat asperiores sapiente, eligendi, nihil. Itaque quos, alias sapiente rerum quas odit! Aperiam officiis quidem delectus libero, omnis ut debitis!</p>
                                        </div>
                                          <% include localStorage %>
                                          <div id ="pickerLink">
                                            <button type="button">
                                            <img src="http://i64.tinypic.com/2uj2vwj.jpg" />
                                          </button>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="timeline-badge info"><i class="fa fa-save"></i>
                                    </div>
                                    <div class="timeline-panel">
                                        <div class="timeline-heading">
                                            <h4 class="timeline-title">Implementation Phase</h4>
                                        </div>
                                        <div class="timeline-body">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis minus modi quam ipsum alias at est molestiae excepturi delectus nesciunt, quibusdam debitis amet, beatae consequuntur impedit nulla qui! Laborum, atque.</p>
                                            <hr>
                                              <% include localStorage %>
                                              <div id ="pickerLink">
                                            <button type="button">
                                            <img src="http://i64.tinypic.com/2uj2vwj.jpg" />
                                          </button>
                                        </div>
                                               
                                </li>
                                <li>
                                    <div class="timeline-panel">
                                        <div class="timeline-heading">
                                            <h4 class="timeline-title">Testing Phase</h4>
                                        </div>
                                        <div class="timeline-body">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi fuga odio quibusdam. Iure expedita, incidunt unde quis nam! Quod, quisquam. Officia quam qui adipisci quas consequuntur nostrum sequi. Consequuntur, commodi.</p>
                                        </div>
                                          <% include localStorage %>
                                          <div id ="pickerLink">
                                            <button type="button">
                                            <img src="http://i64.tinypic.com/2uj2vwj.jpg" />
                                          </button>
                                        </div>
                                    </div>
                                </li>
                                <li class="timeline-inverted">
                                    <div class="timeline-badge success"><i class="fa fa-graduation-cap"></i>
                                    </div>
                                    <div class="timeline-panel">
                                        <div class="timeline-heading">
                                            <h4 class="timeline-title">Final Documentation</h4>
                                        </div>
                                        <div class="timeline-body">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt obcaecati, quaerat tempore officia voluptas debitis consectetur culpa amet, accusamus dolorum fugiat, animi dicta aperiam, enim incidunt quisquam maxime neque eaque.</p>
                                        </div>
                                          <% include localStorage %>
                                          <div id ="pickerLink">
                                            <button type="button">
                                            <img src="http://i64.tinypic.com/2uj2vwj.jpg" />
                                          </button>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                       
                    </div>
                    <!-- /.panel -->