<!DOCTYPE html>
<html lang="en">
<% include header %>
<body>
    <html lang="en">
  

    <% include navbar %>
    <br><br><br>
    <center><button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
    Create New Project

    </button></center>
    <% include projectform %>
    <br>
   
      <div id="projects">
        <% include projects %>
      </div>


      <hr>
        <% include footer %>
      </div>
  




   
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script
        src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
</body>
</html>