<!DOCTYPE html>
<html lang="en">
<% include header %>
<body>
    <html lang="en">
  

    <% include navbar %>
 <br><br><br>
<center><button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
  Create New Project

</button></center>
<% include projectform %>
<br>
  <!-- /.row -->
  <div id="count">

  </div>
  <div id ="add">
  <button type="button" class="btn btn-secondary">Add</button>
  </div>  
    <div id ="refresh">
  <button type="button" class="btn btn-secondary">refresh</button>
  </div>     
  <div id ="status">
 
  </div>  
    <!-- <% include googlepicker %>
       -->
      <div id="projects">
        <% include projects %>
      </div>
      <div id="specificProject">
        <% include specificProject %>
      </div>

    <hr>
        <% include footer %>
    </div>
<!--     <!DOCTYPE html>

    <div id="demo">
    <h1>The XMLHttpRequest Object</h1>
    <button type="button" onclick="loadDoc()">Change Content</button>
    </div>

    <script>
    function loadDoc() {
      var xhttp = new XMLHttpRequest();
      xhttp.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {
          document.getElementById("demo").innerHTML =
          this.responseText;
        }
      };
      xhttp.open("GET", "ajax_info.txt", true);
      xhttp.send();
    }
    </script> -->



   
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script
        src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
</body>
</html>