<!-- Using LocalStorage to store the instances of pride and frustration during work  -->
<!-- Modeled after count LocalStorage example from Prof. Mertz -->

<script src="../localStorage.js"></script> 

<center>
  <div id="count">

  </div>

  <div id ="add">
  <button type="button">
    <img src="http://i68.tinypic.com/14jor5v.png" />
  </button>
  
  </div>  
    <div id ="add">
    <button type="button">
    <img src="http://i63.tinypic.com/2lk5y53.png" />
  </button>
  </div>     
  <div id ="status">
 
  </div>  </center>
