 <!-- /.row -->
  <div id="count">

  </div>
  <div id ="add">
  <button type="button" class="btn btn-secondary">Add</button>
  </div>  
    <div id ="refresh">
  <button type="button" class="btn btn-secondary">refresh</button>
  </div>     
  <div id ="status">
 
  </div>  