<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                data-target=".navbar-collapse">
                <span class="icon-bar"></span> <span class="icon-bar"></span> <span
                    class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Portfolio Builder</a>
        </div>
        <meta name="google-signin-scope" content="profile email">
        <meta name="google-signin-client_id" content="739838565454-1t88mc942ch17dsepk0ulh7vk90m18cv.apps.googleusercontent.com">
        <script src="https://apis.google.com/js/platform.js" async defer></script>
        <a href="#" onclick="signOut();">Sign out</a>
        <script>
          function signOut() {
            var auth2 = gapi.auth2.getAuthInstance();
            auth2.signOut().then(function () {
              console.log('User signed out.');
            });
          }
        </script>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li id="dashboard"><a href="/">Dashboard</a></li>
                <li id="settings"><a href="/settings">Settings</a></li>
                </ul>
            <ul class="nav navbar-nav navbar-right">
                <li id = "GoogleSignIn" class="g-signin2" data-onsuccess="onSignIn" data-theme="dark"></li>
            </ul>
                    




               
            </ul>
        </div>
     
    </div>
</div>