<form action="/projects" method="POST">
                
                
                
                <!-- Project Name -->
                <label for="name">Project Name:</label>
                <input type="text"  name="name">
                <br>

                <!-- Project Description -->
                <label for="description">Brief Project Description:</label>
                <textarea class="form-control" placeholder = "Examples: requires JavaScript, research, etc." name = "description" id="description" rows="3"></textarea>
                <br>
              
            
                <!-- Which course is this for? -->
                <label for="courses" >Which course is this project for?</label>
                <select class="form-control" placeholder = "courseSelection" name = "course" id="course">
                  <option>Mobile to Cloud</option>
                  <option>iOS Development</option>
                  <option>Learning Media Design</option>
                  <option>Chinese Revolution</option>
                  <option>Body Politics</option>
                  <option>Personal</option>
                </select>
              
              <br>
               <!-- startDate -->
                <label for="startDate">Start Date:</label>
                <input type="text" placeholder="mm/dd/yy" name="startDate" >
                <br>
                 <!-- dueDate -->
                <label for="dueDate">Due Date:</label>
                <input type="text" placeholder="mm/dd/yy" name="dueDate" >
                <br>
              <!-- Goals -->
              
                <label for="goals" >What are your goals for this project?</label>
                <textarea class="form-control" placeholder = "Examples: get an A, learn a certain concept, etc. " name = "goals" id="goals" rows="3"></textarea>
            
              <br>
           
              
        
      </div>
      
        <center><button type="submit" class="btn btn-primary">Save Project</button></center>
        </form>
                
  <br>
                
        
             
      </div>