


<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
         <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script type="text/javascript" src="localStorage.js"></script>
        <h4 class="modal-title" id="myModalLabel">Create New Step</h4>
      </div>
      <div class="modal-body">
        <body>
              
                
                
                
               <% include new.ejs %>
              
              

                
  
                
        
             
      </div>
     
      </div>
    </div>
  </div>

